* {
    text-decoration: none;
    margin: 0 !important;
    padding: 0;
}

body {
    font-size: 1em;
    line-height: 1.3em;
}

header {
    /* display: table;
    position: relative;
    width: 100%;
    min-height: 15vmin; */
    /* background-color: rgba(35, 38, 42); */
    padding-left: 25px;
    padding-right: 25px;
    margin: auto
}

/* Navigation Bar Information */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.burntred {
    color: #E94D40;
}