* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 44, 48);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 75px;
    height: auto;
}



.burntred {
    color: #E94D40;
}

.navyblue {
    color: #0C243C;
}

.specialcakesfont {
    font-family: Arial, sans-serif;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearboth {
    clear: both;
}